@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: #4f3b2e;
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-grayscale-black: #1f1f1f;
  --color-grayscale-gray7: #343434;
  --color-grayscale-gray6: #545454;
  --color-grayscale-gray5: #888888;
  --color-grayscale-gray4: #a0a0a0;
  --color-grayscale-gray3: #cccccc;
  --color-grayscale-gray2: #e1e1e1;
  --color-grayscale-gray1: #f5f5f5;
  --color-grayscale-white: #ffffff;
  --color-point-basic: #a0c8f4;
  --color-point-dark: #4e9cf1;
  --color-branding-bg: #f6f6ea;
}

/* 텍스트 스타일 변수 설정 */

/* PC (min-width: 1280px) */
@media (min-width: 1280px) {
  @theme {
    --text-display: --spacing(12);
    --text-display--line-height: --spacing(16);
    --text-display--font-weight: 600;

    --text-heading-1: --spacing(10);
    --text-heading-1--line-height: --spacing(15);
    --text-heading-1--font-weight: 600;

    --text-heading-2: --spacing(8);
    --text-heading-2--line-height: --spacing(12);

    --text-heading-3: --spacing(6);
    --text-heading-3--line-height: --spacing(9);

    --text-body-l: --spacing(5);
    --text-body-1--line-height: --spacing(8);

    --text-body-m: --spacing(4.5);
    --text-body-m--line-height: --spacing(7);

    --text-body-s: --spacing(4);
    --text-body-s--line-height: --spacing(6);

    --text-body-xs: --spacing(3.5);
    --text-body-xs--line-height: --spacing(5);

    --text-caption-s: --spacing(3);
    --text-caption-s--line-height: --spacing(3);
  }
}

/* 태블릿 (min-width: 768px) */
@media (min-width: 768px) {
  @theme {
    --text-display: --spacing(10);
    --text-display--line-height: --spacing(14);
    --text-display--font-weight: 600;

    --text-heading-1: --spacing(8);
    --text-heading-1--line-height: --spacing(12);
    --text-heading-1--font-weight: 600;

    --text-heading-2: --spacing(7);
    --text-heading-2--line-height: --spacing(10);

    --text-heading-3: --spacing(5);
    --text-heading-3--line-height: --spacing(8);

    --text-body-l: --spacing(5);
    --text-body-1--line-height: --spacing(8);

    --text-body-m: --spacing(4.5);
    --text-body-m--line-height: --spacing(7);

    --text-body-s: --spacing(4);
    --text-body-s--line-height: --spacing(6);

    --text-body-xs: --spacing(3.5);
    --text-body-xs--line-height: --spacing(5);

    --text-caption-s: --spacing(3);
    --text-caption-s--line-height: --spacing(3);
  }
}

/* 모바일 (기본) */
@theme {
  --text-display: --spacing(8);
  --text-display--line-height: --spacing(11);
  --text-display--font-weight: 600;

  --text-heading-1: --spacing(7);
  --text-heading-1--line-height: --spacing(10);
  --text-heading-1--font-weight: 600;

  --text-heading-2: --spacing(6);
  --text-heading-2--line-height: --spacing(9);

  --text-heading-3: --spacing(4.5);
  --text-heading-3--line-height: --spacing(7);

  --text-body-l: --spacing(4.5);
  --text-body-1--line-height: --spacing(7);

  --text-body-m: --spacing(4);
  --text-body-m--line-height: --spacing(6);

  --text-body-s: --spacing(3.5);
  --text-body-s--line-height: --spacing(5.5);

  --text-body-xs: --spacing(3);
  --text-body-xs--line-height: --spacing(5.5);

  --text-caption-s: --spacing(2.75);
  --text-caption-s--line-height: --spacing(2.75);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
