name: Delete Merged Branch

on:
  pull_request:
    types: [closed]

jobs:
  delete-branch:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Delete branch
        uses: SvanBoxel/delete-merged-branch@main
        with:
          delete_closed_pr: true
          branches: main,dev
          ignore: main,dev,master,develop
